In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
my_data = randn(3,4)
my_data

array([[ 1.00050527, -0.15136993,  1.6434613 ,  0.88989292],
       [-2.6907437 ,  1.60922296, -1.08795392, -0.36623938],
       [-0.65321825,  1.09023958, -1.73484   , -0.15492776]])

In [4]:
my_ind = [1, 2, 3]
my_col = ["Cars", "Buses", "Trains", "Bikes"]
my_var = pd.DataFrame(my_data, my_ind, my_col)
my_var

       Cars     Buses    Trains     Bikes
1  1.000505 -0.151370  1.643461  0.889893
2 -2.690744  1.609223 -1.087954 -0.366239
3 -0.653218  1.090240 -1.734840 -0.154928

In [9]:
df = pd.read_csv('dog_data.csv')
df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [10]:
df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [14]:
df.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [15]:
df.tail()

                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [18]:
df.tail(3)

                  Breed              Color   DogName  OwnerZip
2667            LAB MIX  WHITE/BLACK/BROWN     ELLIE     15220
2668       GOLDENDOODLE              WHITE  CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK   GRIFFIN     15136

In [12]:
df.loc[1]

Breed       GER SHEPHERD
Color        BLACK/BROWN
DogName           TACODA
OwnerZip           15238
Name: 1, dtype: object

In [13]:
df.loc[[0,3,5]]

              Breed        Color  DogName  OwnerZip
0          COCKAPOO        BROWN  CHARLEY     15236
3             MIXED  BLACK/BROWN    ARROW     15104
5  SCOTTISH TERRIER        BLACK   BAILEY     15129

In [ ]:
#kuch naye functions

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB

In [20]:
df.shape

(2670, 4)

In [29]:
df.ndim

2

In [22]:
df.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [30]:
df.describe()

           OwnerZip
count   2670.000000
mean   15268.109738
std     2747.560641
min    15003.000000
25%    15102.000000
50%    15136.000000
75%    15227.000000
max    97206.000000

In [31]:
df['Breed'].describe()

count      2670
unique      185
top       MIXED
freq        235
Name: Breed, dtype: object

In [32]:
df["Breed"]

0                  COCKAPOO
1              GER SHEPHERD
2             BELG MALINOIS
3                     MIXED
4       AM PIT BULL TERRIER
               ...
2665           GOLDENDOODLE
2666      YORKSHIRE TERRIER
2667                LAB MIX
2668           GOLDENDOODLE
2669      SHETLAND SHEEPDOG
Name: Breed, Length: 2670, dtype: object

In [35]:
df['Color']

0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object

In [37]:
df.Color

0                   BROWN
1             BLACK/BROWN
2                 BRINDLE
3             BLACK/BROWN
4             WHITE/BROWN
              ...
2665                BROWN
2666          BLACK/BROWN
2667    WHITE/BLACK/BROWN
2668                WHITE
2669                BLACK
Name: Color, Length: 2670, dtype: object

In [43]:
df.iloc[:15,2:]     #[slice index, slice col]

              DogName  OwnerZip
0             CHARLEY     15236
1              TACODA     15238
2                EICH     15238
3               ARROW     15104
4              OAKLEY     15139
5              BAILEY     15129
6   MIMI PEARL FOSTER     15090
7               LEROI     15101
8          ZOE VITSAS     15238
9               TAFFY     15228
10               DUDE     15238
11            CHICKIE     15238
12               KING     15235
13              EMILY     15108
14              ELLIE     15228