In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('dog_data_short.csv')
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [11]:
df.drop("Breed", axis = 1, inplace = True)

In [12]:
df

         Color  DogName  OwnerZip
0        BROWN  CHARLEY     15236
1  BLACK/BROWN   TACODA     15238
2      BRINDLE     EICH     15238
3  BLACK/BROWN    ARROW     15104
4  WHITE/BROWN   OAKLEY     15139

In [13]:
df.drop(2, axis=0)

         Color  DogName  OwnerZip
0        BROWN  CHARLEY     15236
1  BLACK/BROWN   TACODA     15238
3  BLACK/BROWN    ARROW     15104
4  WHITE/BROWN   OAKLEY     15139

In [17]:
df["Color"]

0          BROWN
1    BLACK/BROWN
2        BRINDLE
3    BLACK/BROWN
4    WHITE/BROWN
Name: Color, dtype: object