In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('dog_data_short.csv')
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [19]:
# grab row method 1 - location
df.loc[[1,4]]
df.loc[[1,4], ["Breed"]]

                 Breed
1         GER SHEPHERD
4  AM PIT BULL TERRIER

In [21]:
# grab row method 2 - index location
df.iloc[[2,4,0,1],[2,3]]
# df.iloc[2:, 0:3]

   DogName  OwnerZip
2     EICH     15238
4   OAKLEY     15139
0  CHARLEY     15236
1   TACODA     15238

In [20]:
# specific points (row and column)
df.loc[0, "Color"]

'BROWN'

In [22]:
# subsets
# df.loc[[row, row], [col, col]]
df.loc[[0,1,2,3], ["Color", "Breed"]]

         Color          Breed
0        BROWN       COCKAPOO
1  BLACK/BROWN   GER SHEPHERD
2      BRINDLE  BELG MALINOIS
3  BLACK/BROWN          MIXED